.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  direction: rtl;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  position: relative;
}

.search-bar-container input {
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  width: auto;
  text-align: right;
  padding: 8px 15px;
}

.search-bar-container button {
  padding: 8px 15px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  width: auto;
}

.search-bar-container button:hover {
  background-color: #f0d0d0;
}

.cakes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 10px;
  margin-top: 70px;
}

.cake-item {
  text-align: center;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  overflow: hidden;
}

.cake-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.cake-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
