body,
html {
  margin: 0;
  padding: 0;

  height: 100%;
  background-color: #faecdc;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;

  background-image: url("/img/רקע.jpg");
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
/*responsive*/
@media (min-width: 768px) {
  .header,
  .footer {
    flex: 1;
  }

  .main {
    flex: 2;
  }
}
@media (max-width: 767px) {
  .header,
  .footer {
    flex: 1;
  }

  .main {
    flex: 3;
  }
}
