.club-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(20px, 3vw, 40px);
  justify-content: center;
  padding: clamp(20px, 3vw, 40px);
  background-color: #fff9f5;
  border-radius: 20px;
}

.club-benefits {
  flex: 1;
  min-width: 300px;
  direction: rtl;
  text-align: right;
}

.highlight {
  color: rgb(255, 178, 223);
  font-weight: bold;
}

.club-form {
  flex: 1;
  min-width: 300px;
  background: white;
  padding: clamp(16px, 2vw, 24px);
  border-radius: 12px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.birthday-select {
  display: flex;
  gap: 10px;
}
