.login-container {
  display: flex;
  gap: clamp(20px, 3vw, 40px);
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.img-style {
  height: clamp(250px, 30vw, 400px);
  width: clamp(250px, 30vw, 400px);
  border-radius: 10%;
}
