.main-title {
  text-align: center;
  color: #333;
}

.sub-title {
  text-align: center;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #000000;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: right;
}

.ground {
}
